{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true
      }
    ]
  ]
}